.outerClass {
    background:#fff;
    padding: 35px !important;
    border-radius: 5px;
    color:#666 !important;
}

.overlayClass {
    background:rgba(0, 0, 0, .95) !important;
}

.contentClass {
    max-width: 568px !important;
    background:#fff;
    border-radius: 5px;
}

.dialogClass {
    padding-top: 0 !important;
}

.changeLogSec {
    font-size: 14px !important;
    position: relative;

    & img {
        width: 100%;
        max-height: 300px;
    }

    & h4 {
        margin: 0 0 20px;
        color:#888;

        & span {
            font-size: 12px;
            color:#b7b7b7;
            padding: 0 10px;
            font-weight: 400;
        }
    }

    & h2 {
        display: inline-block;
        padding: .5rem 1rem;
        border-radius: .2rem;
        color: #fff;
        background: #6441a4;
        font-size: 1.4rem;
        font-weight: 400;
        opacity: .6;
    }

    & ul {
            font-size: 12px;

            & li {
                color: rgb(116, 127, 141);
                margin-bottom: 10px;
                font-size: 12px;
                line-height: 1.5em;
            }
    }

    & .copyRight {
        margin: 20px 0 0 ;
        font-size: 12px;
        color:rgb(153, 170, 181);
        opacity: .5;

        & span {
            font-weight: 600;
            color:rgb(39, 39, 39);
        }
    }
}