.outerClass {
    padding: 0 !important;
}

.contentClass {
    max-width: 328px !important;
    border-radius: .5rem;
    overflow: hidden;

    & > div:first-child {
        background:none !important;
    }
}

.overlayClass {
    background:rgba(0, 0, 0, .98) !important;
}

.imageSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px 20px;
    color: #fff;
    // background: #315af3;
    background: url('../../../assets/default_bg.jpg');
    background-size: cover;

    & img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    & h4 {
        margin: 10px 0;
        font-weight: 400;
    }

    & h5 {
        margin: 0;
        font-weight: 400;
        font-size: 13px;
    }
}

.listSec {
    padding: 20px 30px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    & p {
        margin: 12px 0;
    }
}

.emailBtn {
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-size: 13px !important;
    color:rgb(136, 153, 213) !important;

    & svg {
        fill: rgb(136, 153, 213) !important;
        color: rgb(136, 153, 213) !important;
        width: 20px !important;
        height: 20px !important;
    }
}

.dhBtn {
    padding: 0 !important;
    height: 24px !important;
    width: 24px !important;
    vertical-align: sub;

    & svg {
        color:Rgb(118, 148, 255) !important;
    }
}

.bdBtn {
    margin: 15px 0 20px !important;

    & span {
        color:#fff !important;
    }
}

.logoutBtn {
    
    & span {
        color:#fff !important;
    }
}