.stageMain {
    height: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -.5%;
    overflow: hidden;
}

.emptyScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    animation: fadeIn .5s;

    & p {
        color:hsla(0,0%,100%,.4);
        font-size: 14px;
        position: absolute;
        bottom: 20px;
        left: calc(50% - 194px)
    }
    
    & img {
        width: 100%;
        max-width: 280px;
    }
}

.navOpenClass {
    position: relative;
    left: 160px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}