

.flex {
    display: flex;
}
.flex-center {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.container {
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    // composes: flex;
    overflow: hidden;
}

.scrollContainer {
    position: relative;
    margin-left: 24rem;
    width: auto;
    height: 100%;

    &.chatOpen {
        margin-right: 340px;
    }

    &:last-child  {
        transition: none;
    }
}

.wrapperContainer {
    padding: 2rem 3rem;
    color:#333;
    font-size: 1rem;
    width: auto;
    height: 100%;
}

.mainContainer {
    width: 100%;
    height: auto;
    padding-bottom: 4rem;
}