.container {
    width: 100%;
    height: 100%;
}
.content {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    height:100%;
    
    & .itemWrapper {
        flex: 1 0 auto;
        max-width: 50%;
        width: 18rem;
        order: 0;
        padding: 0 1rem;
    }

    & .item {
        margin-bottom: 2rem;

        & img {
            opacity: 0;
            transition: opacity .4s;
        }

        & a {
            display: block;
            position: relative;
            color:#19171c;
            text-decoration: none;

            &:hover {
                color:#6441a4;
            }
        }

        & h5 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 1.4rem;
            font-weight: 400;
            margin: .5rem 0 0;
        }

        & p {
            margin: 0;
            color:#888;
        }

        & figure {
            padding-bottom: 139.705882353%;
            background-color: #faf9fa;
            display: block;
            position: relative;
            flex-shrink: 0;
            overflow: hidden;
            margin: 0;
        }

        & img {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.imgFadeIn {
    opacity: 1 !important;
}
