
.tvOpen.tv {
    left:70px;
}

.tvWidth.tv {
    width: calc(100vw - 470px);

    & .flexWrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.tv {
    display: flex;
    width: 280px;
    height: 100vh;
    background:#282b30;
    padding: 20px;
    flex-direction: column;
    position: absolute;
    
    top:0;
    left: -99999px;
    z-index: 2;
    transition: none;
    
    & .topSec {
        position: absolute !important;
        top: 0;
        right: 0;

         & svg {
            color:#646464 !important;
        }
    }

    & h2 {
        margin: 0 0 5px 0;
        color:#aaaaaa;
        font-size: 18px;
        font-weight: 400;
    }

    & .tvItemBox {
        margin-bottom: 30px;
    }

    & .flexWrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    & .tvItemBox > div:last-child div{
        transition: none;
        background-color:#000 !important;
    }
}

.categoryTitle {
    margin: 20px 0 20px;
}

.chipSec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    & span {
        font-size: 12px;
        display: block;
        border-radius: 15px;
        font-weight: 400;
        background: #ccc;
        color: #6d6d6d;
        padding: 3px 6px;
        margin: 0 4px 5px 0;
        cursor: pointer;

        &.active {
            background:#5b6ca9;
            color:#fff;
        }

        &:hover {
            background:#fff;
        }
    }
}