
.scrollBox {
    & > div {
        &:last-child div {
            background: #000 !important;
        }
    }
}

.favorite {
    height: 48%;
    overflow: hidden;

    & h4 span {
        vertical-align: middle;
        display: block;
        line-height: 0;
        float: right;
        cursor: pointer;

        &:hover {
            & svg {
                color:#fff !important;
            }
        }
        
        & svg {
            width: 20px !important;
            height: 20px !important;
        }
    }

}
