.favorite {
    height: auto;
    transition: all .4s ease;
    margin: 0 -1.5rem;
    height: 100%;

    & h4 {
        margin: 0 1.5rem;
        font-weight: 400;
        color: #cbc8d0;
        padding: .8rem 0;
        border-bottom: 1px solid #392e5c;
        font-size: 1.4rem;
    }
}

.favoriteContent {
    width: 100%;
    text-align: left;
    overflow: hidden;
    margin-top: .5rem;
    height: 100%;
    padding-bottom: 5rem;

    & span svg {
        color:#bbb !important;
        fill:#bbb !important;
    }
}

.scrollBox {
    height: 48.5% !important;
    margin-bottom: 1rem;

    & > div {
        &:last-child div {
            background: #000 !important;
        }
    }
}

.noContent {

    & img {
        height: auto;
        border-radius: 0;
    }

    & p {
        color:#898395 !important;
        font-size: .8rem;
        padding: 0 2rem;
    }
}