.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #2c2541;
    z-index: 1;

    & img {
        width: 36px;
        height: 36px;
        margin-right: 1rem;
    }

    & .btn {
        width: calc(100% - 3rem) !important;
        color:#6441a4 !important;
        background:#fff !important;
        margin-left: 1.5rem !important;

        &:hover {
            background: #6441a4 !important;
            color:#fff !important;
        }
    }
}

.profileLogin {
    width: 100%;
    padding: 1rem 1.5rem;
}

.profileProfile {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem 1.5rem;

    &:hover {
        background:#392e5c;
    }

    & .text {
        width: 100%;
        flex: 1;
        overflow: hidden;

        & h5 {
            margin: 0;
            font-size: 1.4rem;
            font-weight: 400;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        & span {
            display: block;
            color:#dad8de;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        & i {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #90ff10;
            margin-right: .5rem;
        }
    }
    & svg {
        color:#fff !important;
        opacity: .5;
    }
}