.header {
        padding: 0 0 0 20px;
        height: 56px;
        border-bottom: 1px solid #313338;
        display: flex;
        justify-content: flex-end;
        background:#36393e;
        align-items: center;
        position: relative;

        & .fdjico {
            position: absolute;
            display: block; 
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            right: 0;
            top: 0;
        }

        & img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }

        & nav {

            & svg {
                opacity: .5;
                color:#fff !important;
                
                &:hover {
                    opacity: 1;
                }
            }
        }
        
    }

.toggleBtn {
    position: absolute !important;
    left: 5px;

    & svg {
        color:#fff !important;
        opacity: .5;
    }
}