.scrollBox {
    flex-grow: 1;
    margin-bottom: 25px;
}

.chats {
    padding: 0;
    margin: 0;
    list-style: none;

    & .playerMmr {
        font-size: 13px;
        padding: 0 4px;
        color:#fff;
        background:#43b581;
        margin-right: 3px;
        border-radius: 2px;
    }
    & .playerName {
        font-size: 14px;
        color:#fff;
    }
    
    & li {
        line-height: 1.3em;
        color:#bcbcbc;
        font-size: 13px;
        margin-bottom: 10px;
        transition: none;

        & * {
            transition: none;
        }
    }
}
