.shareScreen {
    height: 42px;
    width: 42px;
    position: absolute;
    right: 44px;
    top: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
        width: 26px !important;
        height: 28px !important;
        color: rgba(0, 0, 0, .15) !important;
    }

    &:hover {
        & svg {
            color:rgba(0, 0, 0, .3) !important;
        }
    }
}