.outerClass {
    padding: 0 !important;
}

.contentClass {
    max-width: 568px !important;
}

.registerSec {
    display:flex;
    align-items: stretch;
    justify-content: center;

    & .inputSec {
        flex: 2;
        padding: 35px 20px 30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    & h4 {
        margin: 0;
        color:#000;

        & span {
            color:#f8882d;
        }
    }

    & .imageSec {
        width: 100%;
        height: 350px;
        flex: 1.5;
        background: url('../../../assets/default_bg.jpg');
        background-size: cover;
        padding: 20px;
    }
    
    & .btnGroup {

    }
}

.checkbox {
    font-size: 13px;
    color:#888;
    margin: 10px 0;
}