.container * {
    transition: all .4s;
}

.flex {
    display: flex;
}
.flex-center {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.container {
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    composes: flex;
    overflow: hidden;
    padding-left: 70px;
}

