.flex {
    display: flex;
}

.nav {
    width: calc(100% - 6rem);
    margin: 2rem 3rem 0;
    box-shadow: inset 0 -1px 0 #dad8de;
    position: relative;
}

@media screen and (max-width: 1200px) {
    .nav {
        margin: 2rem 3rem 3rem;
        box-shadow: none;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        margin: 7rem 3rem 3rem;

        & > div {
            display: none;
        }
    }
}

.navItem {
    padding: .5rem 0;
    font-size: 1.4rem;
    margin-right: 2rem;
    color: #6441a4;
    display: inline-block;
    text-decoration: none;

    & .lab {
        display: inline-blocl;
        font-size:1rem;
        background:#a49fad;
        border-radius: 2px;
        padding: .1rem .4rem;
        margin-left: .4rem;
        color:#f5f4f6;
    }

    &:hover, &.active {
        color: #0f0e11;
        box-shadow: 0 -2px 0 #6441a4 inset;
    }

}

.chatSwitch {
    position: absolute;
    right: 0;
    bottom: 4px;

    & svg {
        display: block;
        color:#cdcdcd !important;
        fill:#cdcdcd !important;
    } 
}

