.container {
    width: auto;
    height: 100%;
    margin: 0 -1rem;
    // background: radial-gradient(ellipse at bottom, #1c2837 0%, #050608 100%);
    // background-attachment: fixed;
}


.outerWrapper {
    opacity: 1;
    // animation: zoomIn 1.2s ease forwards;
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0px;
    box-sizing: border-box;

    & h2 {
        color:#fff;
        width: 100%;
        margin: 10px 0 12px;
        box-sizing: border-box;
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: uppercase;
        color: #f8882d;
        position: relative;
        padding: 0 1rem;

        & .text {
            color: #fff;
            font-size: 14px;
            padding: 0 0 2px 4px;
        }

        & .more {
            font-size: 12px;
            color:#6f6f6f;
            position: absolute;
            right: 1rem;
            bottom: 0;
            cursor: pointer;

            &:hover {
                color: #f8882d;
            }
        }
    }
}

.empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes zoomIn {
    from {opacity: 0; transform: scale(1.01); filter: grayscale(1); }
    to {opacity: 1; transform: scale(1);  filter: grayscale(0);}
}